#customPlayer {
  display: flex;
  align-items: center;
}


#seekBar {
  width: 200%;
}

.btn {
  font-size: 1.5rem;
}


.btn-outline-primary {
  color: black;
  border-color: black;
}

.btn-outline-primary:hover {
  background-color: black;
  color: #fff;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
}

#playPauseBtn {
  font-size: 2rem;
}

#prevBtn,
#nextBtn {
  font-size: 1.5rem;
}

#songInfo {
  color: black;
}

#songName,
#albumName,
#artistName {
  color: #343a40;
}
